page-login {
    
    .list-md[inset]{
        margin-top: 50%;

    }
    .helper {
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }
    .item-md.item-block .item-inner {border-bottom: 0px}

    
}
