<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-content padding>
   

    <img style="
    display:block;
    margin:auto; padding-top: 40px;    padding-left: 40px;padding-right: 40px;
    "  src="assets/imgs/main_logo.svg" alt="pres_image">
    <div>
    <span class="helper"></span>
    <img style="height:150px; width:150px;
    display:block;
    margin:auto;"  src="assets/imgs/anim_white.gif" alt="pres_image">
    <p style="margin:auto;width:230px; color:gray" text-center>
        Stay completely anonymous with secretoo and share your deepest secrets and thoughts with the world.
    </p>
<div text-center style="margin-top:50px;" *ngIf="!isLoading">
    <button  ion-button round outline (click)="ClickExpolore()" style="width:230px; height: 60px; background: royalblue; border: royalblue; color:white; display :inline-block;">Explore Anonymously</button>
    <br>
    <button *ngIf="user" ion-button round (click)= "showPopOver()" small clear style="color:gray">Logout</button>

    <button *ngIf="!user" ion-button round (click)= "googleLogin()" small clear style="color:gray">or Login with Google</button>


  </div>

</div>
<br>
<!-- <ion-item  style="width: 50vw;    position: absolute;bottom: 5px;" *ngIf="!isLoading">
    <ion-label>{{'LANG' | translate}}</ion-label>

  <ion-select  ([ngModel])="lang" (ionChange)="onItemSelection($event)" >
    <ion-option value="tn">عربي</ion-option>
    <ion-option value="en">English</ion-option>
  </ion-select>
</ion-item>
 -->

</ion-content>
