<!--
  Generated template for the SecretPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
  
-->
<ion-header no-border>

  <ion-navbar>
    <ion-title>{{secret.title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card  class="td-card" >
      <ion-card-content text-justify	>
          <ion-card-header  text-center>
              <ion-card-title style="font-size: 14pt" text-wrap>{{secret.title}} </ion-card-title >

    <div >
        <img class="ava-img"   [src]="secret.authorAvatar ? secret.authorAvatar : 'assets/imgs/ufo.png'" alt="avatar" >
    </div>

          </ion-card-header>
      

      <p>
          {{secret.content}}

          -       <small text-end>{{secret.author}}</small>

      </p>
      <ion-grid class="metoo">
        <ion-row>
          <ion-col col-6 justify-content-center align-items-center text-center style="height: 100%">
              <ion-buttons (click)="reactionControl(true)">
                  <button ion-button icon-only large clear>

              <img  class="metoobuttons"  [src]="actualReaction==true ? 'assets/icon/metoo-blue.svg' : 'assets/icon/metoo.svg' " style="width: 60%" alt="meetoo-button">
              </button>
              <small style="padding-left: 5px" *ngIf="secret.metoo>0" class="notification-counter metoo-notif">{{secret.metoo}}</small>
              </ion-buttons>
          </ion-col>
          <ion-col col-6 justify-content-center align-items-center text-center style="height: 100%">
              <ion-buttons (click)="reactionControl(false)">
                  <button ion-button icon-only large clear>

            <img class="metoobuttons"  [src]="actualReaction==false ? 'assets/icon/nope-red.svg' : 'assets/icon/nope.svg' " style="width: 60%" alt="meetoo-button"> 
            </button>
            <small style="padding-left: 5px" *ngIf="secret.nope>0" class="notification-counter nope-notif">{{secret.nope}}</small>
            </ion-buttons>

          </ion-col>
        </ion-row>
      </ion-grid>

  </ion-card-content>
    </ion-card>

      
          <ion-card  class="td-card" *ngIf="comments.length>0">
               <ion-card-content>
                <ion-list>
                        <ion-item *ngFor="let comment of comments">
                          <ion-avatar item-start>
                            <img class="ava-img" [src]="comment.authorAvatar ? comment.authorAvatar : 'assets/imgs/ufo.png'" >
                          </ion-avatar>
                          <h2>{{comment?.author}}</h2>
                          <p>{{comment?.content}}</p>

                        </ion-item>
                      </ion-list>
                    </ion-card-content>
          </ion-card>
  

     

</ion-content>
<ion-footer style="background:white">
    <ion-toolbar>
        <ion-grid>
            <form [formGroup]="comment"  (ngSubmit)="addComment()">

            <ion-row >
                <ion-col col-2 >
                    <img class="ava-img" style="width: 80%" [src]="currentProfile.avatar" >

                </ion-col>
                          <ion-col >
                            <ion-item >
                                  <ion-textarea [ngStyle]="((comment.invalid && (comment.dirty || comment.touched)) &&comment.controls.content.errors.maxlength) && {'background': '#ffd0d050'}" id="content" placeholder="Your comment..." type="text" formControlName="content" [auto-resize-textarea]="150" (click)="((comment.invalid && (comment.dirty || comment.touched)) &&comment.controls.content.errors.maxlength) && showPopOver(event)"></ion-textarea>
                                
                                </ion-item>
                            

                                </ion-col>
                              <ion-col col-2 class="flex-container center" *ngIf="comment.valid">
                         
                                  <button clear icon-only ion-button  color="dark" type="submit" [disabled]="!comment.valid || isSending" >
                                          <ion-icon  name="ios-arrow-dropright-circle-outline"></ion-icon>
                                  </button>
                              </ion-col>

                </ion-row>
              </form>   

            </ion-grid>
      
          </ion-toolbar>

  </ion-footer>