page-secret {



        .vertical-align-content > *
        {
             display: flex!important;
             align-content: center!important;
             align-items: center!important;
        }
            ion-card {
              display: block;
              -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
       
            }
            .content-md {
              color: white;
              background: #222;
          }
          
            
            .toolbar-background-md {
              border-color: none;
              background: none; 
         }
         .header-md::after{
             background-image: none;
         }
            .helper {
              display: inline-block;
              height: 100%;
              vertical-align: middle;
          }
          
            .card-md{
              -webkit-box-shadow: none;
              -moz-box-shadow: none;
              box-shadow: none;
            }
            .metoobuttons{
                display:block;
            margin-left: auto;
            margin-right: auto;
            }
            .toolbar-title-md{
                color: white;
            }
            .bar-button-default-md{
                color: white
            }
            
       
        
            .fade {
              -webkit-transition: 0.2s opacity linear;
              transition: 0.2s opacity linear;
              opacity: 0;
            }
      
            .td-card {
      
              -webkit-box-shadow:  0px 0px 65px -34px rgba(0,0,0,1);
              -moz-box-shadow:  0px 0px 65px -34px rgba(0,0,0,1);
              box-shadow:  0px 0px 65px -34px rgba(0,0,0,1);
      
            
        
            }
            .card-md{
              border-radius: 10px;
            }

            .notification-counter {
                position: absolute;
                top: 10px;
                background-color: black;
                color: #fff;
                border-radius: 3px;
                padding: 1px 3px;
                font: 8px Verdana;
            }
            .metoo-notif{
                left:20px;
            }
            .nope-notif{
                right:20px;
            }
      
         
            
      
      

    .helper {
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }
    .toolbar-background-md {
         border-color: none;
         background: none; 
    }
    .header-md::after{
        background-image: none;
    }
    .comment-block{
        margin-top: 20px;

    }

    form .item-input{
        border-bottom: none !important;
        
    }
    form{
        width: 100%;

    }
    .text-input-md {
        margin: 0px;
        padding: 10px;

    }
    .item-md.item-block .item-inner{
        border-radius: 15px;
        padding: 0px;
        margin-bottom: 10px;
        border-bottom: none !important;
        background: #eaeaea;

    }
    .item-block{
        -webkit-box-align: baseline;
        -webkit-align-items: baseline;
        -ms-flex-align: baseline;
        align-items: baseline;
    }
    .flex-container{
        padding: 0;
        margin: 0;
        list-style: none;
        
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -moz-flex;
        display: -webkit-flex;
      
    }
    .center { 
        -webkit-align-items: center; 
        align-items: center; 
      }
    ion-label{
        white-space: normal;
        padding: 10px;

    }
    .secret-body{
        width: 100%;

    }

    .ava-img{
        border-radius: 50%;
        width: 30%;
        display: block;
        margin-left: auto;
        margin-right: auto;

    }
    .item-md ion-avatar img {
        border-radius: 50%;
        overflow: hidden;
        width: auto;
        height: 40px;
    }
 


}
