page-profile {
    ion-card {
        display: block;
        -webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
 
      }
      .label-md[stacked], .label-md[floating]{
          text-align: center;
      }
      input { 
        text-align: center; 
    }
      form .item-input{
        border-bottom: none !important;
        
    }
    form{
        width: 100%;

    }
    .item-md.item-block .item-inner{
        border-bottom: none !important;

    }

      .card-md{
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
      }
      
      ion-card.td-card {
        border: 0px solid #999;
        border-radius: 30px;
        //box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
        width: 150px;
        height: 150px;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;

      }
      ion-card img {
        border-radius: 5% 5% 0px 0px;
        max-width: 100%;
      }
      .fade {
        -webkit-transition: 0.2s opacity linear;
        transition: 0.2s opacity linear;
        opacity: 0;
      }

      .td-card {

        $list: 1 2 3 4 5;
      
        @each $i in $list {
          &:nth-last-child(#{$i}) {
    margin-top: 8px *$i;

    -webkit-box-shadow: 0px 0px 30px 10px rgba(0,0,0,0.05);
      -moz-box-shadow: 0px 0px 30px 10px rgba(0,0,0,0.05);
      box-shadow: 0px 0px 30px 10px rgba(0,0,0,0.05);
      filter: alpha(opacity=90-10*$i);
          }
        }
        &:fist-child{
            margin-top: 80px;
        }
        &:last-child{
          -webkit-box-shadow:  0px 0px 65px -34px rgba(0,0,0,0.75);
        -moz-box-shadow:  0px 0px 65px -34px rgba(0,0,0,0.75);
        box-shadow:  0px 0px 65px -34px rgba(0,0,0,0.75);
        }
      }
      #card-stack{
        height: 250px;
        position: relative;
        text-align: center;
        margin-top: 10vh;



      }
      .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        color: white;
        transform: translate(-50%, -50%);
    }
}
