<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-content padding>
    <ion-title text-center>Welcome to Serr</ion-title>
    <p text-center>Complete your profile and start telling your deepest secrets anonymously</p>


    <div  swing-stack #myswing1 [stackConfig]="stackConfig" (swipeleft)="goLeft()" (swiperight)="goRight()" id="card-stack" >
   
        <ion-card #mycards1 swing-card *ngFor="let image of images  ; let i = index" class="td-card" [ngStyle]="rots[i]">
            <img src="{{image}}" [ngStyle]="firstTime && {'filter': 'brightness(0.30)'}">
            <div *ngIf="firstTime" class="centered" >Select your avatar</div>

          </ion-card>
    
      </div>



      <form [formGroup]="profile"  (ngSubmit)="createProfile()">

  <ion-item>

    <ion-input id="nickName" formControlName="nickName" placeholder="Your Nickname" ></ion-input>
   
  </ion-item>
  
  <span *ngIf="profile.controls.nickName.invalid && (profile.controls.nickName.dirty || profile.controls.nickName.touched)">

      <small *ngIf="profile.controls.nickName.errors.maxlength" style="color:rgb(126, 0, 0)">Your NickName should contain between 4 and 15 alphanumerical characters</small>
      <small *ngIf="profile.controls.nickName.errors.pattern" style="color:rgb(126, 0, 0)">Your NickName should only countain alphanumerical characters and no spaces</small>


  </span>
  <small text-center *ngIf="!nickNameAvailable" style="color:rgb(126, 0, 0)">Nickname is already in use</small>



<ion-grid>
  <ion-row justify-content-center align-items-center >
      <button *ngIf="!isLoading" ion-button round outline  type="submit" [disabled]="!profile.valid" small clear style="width:230px; height: 60px; background: royalblue; border: royalblue; color:white; display :inline-block;">Start Exploring</button>

  
</ion-row>
</ion-grid>
</form>   


</ion-content>
