<ion-header color="black">
  <ion-navbar>
    <ion-title>
            Hello {{profileData?.nickName}} - Secrets
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="homePage">
    <ion-refresher pullMax="300" pullMin="150" (ionRefresh)="doRefresh($event)" (ionPull)="doPulling($event)">
        <ion-refresher-content>
        </ion-refresher-content>
    </ion-refresher>
    <!-- <ion-item>
        <ion-label floating>NewSecret</ion-label>
        <ion-input [(ngModel)]="secret.title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>My secret</ion-label>
        <ion-textarea  [(ngModel)]="secret.content"></ion-textarea>

      </ion-item>
      <button ion-button (click)="createSecret(secret)"> Add a secret
      </button> -->
  
    <ion-card *ngFor="let secret of secrets">


  <ion-card-content>
    <ion-card-title>
      {{secret?.title}} <small>a secret of {{secret?.author}}</small>
    </ion-card-title>
    <p>
      {{secret?.content}}  

    </p>
  </ion-card-content>

      </ion-card>
      
      <ion-infinite-scroll (ionInfinite)="getAgain($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>
