<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title style="color:white">Config</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <button ion-item (click)="showPopOver(event)">
        Logout
      </button>
      <button *ngIf="this.isAnonymous" ion-item (click)=" googleauth()">
        Link with Google
      </button>
   
    </ion-list>
  <!--   <ion-item>
        <ion-label>{{'LANG' | translate}}</ion-label>
    
      <ion-select  ([ngModel])="lang" (ionChange)="onItemSelection($event)" >
        <ion-option value="tn">عربي</ion-option>
        <ion-option value="en">English</ion-option>
      </ion-select>
    </ion-item> -->
  </ion-content>
</ion-menu>
<ion-header no-border>

    <ion-toolbar>
        <ion-nav id="nav" #content [root]="rootPage"></ion-nav>
<ion-title text-center><img style="
  display:block; height: 25px;"  src="assets/imgs/main_logo_white.svg" alt="pres_image"></ion-title>
  <ion-buttons start class="bar-buttons bar-buttons-md">

      <button ion-button icon-only outline large style="border:none;color:white">
          @{{profileData?.nickName}}
        </button>  
      </ion-buttons>
  <ion-buttons start class="bar-buttons bar-buttons-md">
      
              <button ion-button icon-only outline large style="border:none;color:white" menuToggle >
                <ion-icon name="menu"></ion-icon>
              </button>
             
      </ion-buttons>
    
  
    </ion-toolbar>
  
  </ion-header>

<ion-content text-center class="vertical-align-content">

    <ion-grid>
        <ion-row>
              <ion-col>
   


  <ion-slides #slider (ionSlideReachEnd)="retrieveSecrets()" shouldLockSwipes="isLoading" slidesPerView="1.2" centeredSlides>

  <ion-slide *ngFor="let card of allCards">

      <ion-card  class="td-card" (click)="openModal(card)" >
        
          <ion-card-content text-justify	>
              <ion-card-header  text-center>
                  <h2  text-capitalize	>{{card?.title}}</h2>
                </ion-card-header>
            <p>
           {{card?.content.split(" ").splice(0,45).join(" ")}}
           <span *ngIf="countWords(card?.content)>30">... <span style="color:royalblue">Show more</span></span>
          </p>

          </ion-card-content>
          <div text-center>
          <ion-row style="position: absolute; bottom: 5px;">
              <ion-col >
                <button ion-button icon-left clear small>
                  <div>{{card?.reactionsCount}} Reactions</div>
                </button>
              </ion-col>
              <ion-col>
                  <button ion-button icon-left clear small>
                      <small>{{card?.momentTime}}</small>
                    </button>
                
                
              </ion-col>
            </ion-row>
          </div>
        </ion-card>
  </ion-slide>

</ion-slides>


  
</ion-col>
</ion-row>
<ion-row >
  <ion-col text-center>
      <button  ion-button icon-only outline large style="border:none;color:white" (click)="createSecret()">
          <ion-icon *ngIf="!isLoading" style="font-size: 60px; "name="ios-add-circle"></ion-icon>
          <ion-icon *ngIf="isLoading" class="spin"style="font-size: 60px; "name="ios-add-circle"></ion-icon>

        </button>
    </ion-col>
</ion-row>
</ion-grid>
</ion-content>

