page-secrets-swipe {

  .vertical-align-content > *
  {
       display: flex!important;
       align-content: center!important;
       align-items: center!important;
  }
      ion-card {
        display: block;
        -webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
 
      }
      .content-md {
        color: white;
        /* background-color: #fff; */
        background: #222;
    }
      .avatar-image{
        width: 100px;
        height: 100px;
        border-radius: 50% ;
      }
      
      .toolbar-background-md {
        border-color: none;
        background: none; 
   }
   .header-md::after{
       background-image: none;
   }
      .helper {
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }
    
      .card-md{
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
      }
      
      ion-card.td-card {
        border: 0px solid #999;
        //box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
        height: 50vh;
      }
      ion-card img {
        border-radius: 5% 5% 0px 0px;
        max-width: 100%;
      }
      .fade {
        -webkit-transition: 0.2s opacity linear;
        transition: 0.2s opacity linear;
        opacity: 0;
      }

      .td-card {

        -webkit-box-shadow:  0px 0px 65px -34px rgba(0,0,0,1);
        -moz-box-shadow:  0px 0px 65px -34px rgba(0,0,0,1);
        box-shadow:  0px 0px 65px -34px rgba(0,0,0,1);

      
  
      }
      .card-md{
        border-radius: 10px;
      }


      .spin {
   
        -webkit-animation:spin 0.5s linear infinite;
        -moz-animation:spin 0.5s linear infinite;
        animation:spin 0.5s linear infinite;
    }
    @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
    @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
    @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

      
}


