<!--
  Generated template for the CreateSecretPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

    <ion-toolbar>
        <ion-title>     Add your new secret
          </ion-title>

      <ion-buttons start class="bar-buttons bar-buttons-md">
  
              <button ion-button icon-only outline large style="border:none;color:black" (click)="navCtrl.pop();">
                <ion-icon style="transform: rotate(45deg)" name="ios-add-circle"></ion-icon>
              </button>
      </ion-buttons>
    </ion-toolbar>
  
  </ion-header>


<ion-content padding>


    <div >
        <span class="helper"></span>
        <img style="
        display:block;
    margin:auto; width:40vw
        "  [src]="profileData?.avatar" alt="your image">
    </div>
    <form [formGroup]="secret" (ngSubmit)="creatSecret()">

    <ion-grid style="margin-top:50px;">
        <ion-row >

          <ion-item>
              <ion-input placeholder="Your secret's title" clearInput formControlName="title" id="title" type="text" ></ion-input>
             
            </ion-item>
            <ion-item>
                    <span *ngIf="secret.controls.title.invalid && (secret.controls.title.dirty || secret.controls.title.touched)">

                    <small *ngIf="secret.controls.title.errors.maxlength" style="color:rgb(126, 0, 0)"> The title is too long, it must have a maximum of 50 characters</small>
                </span>
            </ion-item>
            <ion-item>
                <ion-textarea placeholder="Tell the world about your secret"  formControlName="content" type="text" id="content" [auto-resize-textarea]="250"></ion-textarea>
              </ion-item>
              <ion-item>
                    <span *ngIf="secret.controls.content.invalid && (secret.controls.content.dirty || secret.controls.content.touched)">

                    <small *ngIf="secret.controls.content.errors.maxlength" style="color:rgb(126, 0, 0)">Your secret is really too long</small>

                </span>
            </ion-item>
                   
        </ion-row>
        
        <ion-row justify-content-center align-items-center >
                <button clear icon-only ion-button  color="dark"style="position: fixed;
                bottom: 30px;" large type="submit" [disabled]="!secret.valid||isLoading" >
                        <ion-icon  name="ios-arrow-dropup-circle-outline" style="font-size:50px"></ion-icon>
                </button>
            
        </ion-row>
    </ion-grid>
</form>


</ion-content>
