page-create-secret {
    form .item-input{
        border-bottom: none !important;
        
    }
    form{
        width: 100%;

    }
    .item-md.item-block .item-inner{
        border-bottom: none !important;

    }
    img{
        border-radius: 50%;

    }
    

 
}
