<!--
  Generated template for the ConfirmLogoutPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding>
    <img style="width:30%"src="assets/imgs/anim_white.gif">
<p text-center> <b> Your are currently anonymous </b> </p>
<p text-justify>By loging out you will lose all your secrets.</p>

<div text-center>
  <ion-grid>
    <ion-row >
        <ion-col >
          <button ion-button icon-left clear small (click)="googleauth()">
            Nooo ! Use Google!
          </button>
        </ion-col>
        <ion-col>
            <button ion-button icon-left clear small (click)="logout()">
                Yes.
              </button>
          
          
        </ion-col>
      </ion-row>
    </ion-grid>
    </div>
</ion-content>
